/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, open-sans, Arial, Helvetica;
}

li {
    list-style: none;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
}
a:active {
    color: white;
}
a:hover {
    color: white;
}

/* regole generali macrostruttura */
#container-top {
    display: flex;
}

#nav-principale {
    background-color: #000;
    height: calc(100vh - 120px);
    width: 250px;
    overflow: hidden;
    position: relative;
}

main {
    background-color: #141922;
    height: calc(100vh - 120px);
    width: calc(100vw - 250px);
    overflow: hidden;
}

#player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282828;
    height: 120px;
    width: 100%;
    padding: 0.8em 0.6em;
}

/* nav superiore */
.top-nav img {
    margin: 1em;
    width: 140px;
}

/* nav item flex */
.nav-item {
    display: flex;
    align-items: center;
}

/* regole navigazione */
.space-nav li{
    margin-bottom: 1em;
    font-size: 16px;
}

.nav-item i {
    font-size: 24px;
    padding: 0 0.6em 0 0.8em;
}

/* navigazione attiva */
.active-item {
    color: white;
}

.active-item i {
    border-left: 4px solid green;
}

h3 {
    color: white;
    margin: 1em 0 1em 0.8em;
}

/* playlist section */
.playlist-container {
    height: 200px;
    margin: 0 0 0 0.8em;
    overflow-y: auto;
}

.nav-item .fa-square-plus {
    font-size: 40px;
    padding: 0 0.4em 0 0;
}

/* scrollbar */
.playlist-container::-webkit-scrollbar {
    width: 4px;
    border-radius: 10px;
}

.playlist-container::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff1d;
}

.playlist-container::-webkit-scrollbar-thumb {
    background-color: green;
    border-radius: 10px;
}

/* bottom container navigazione */
.container-bottom-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: rgba(255, 255, 255, 0.4);
    height: 120px;
    padding: 0.8em;
}

.bottom-item-nav {
    display: flex;
    border-color: rgba(255, 255, 255, 0.4);
    align-items: center;
    gap: 0.4em;
}

hr {
    border-color: rgba(255, 255, 255, 0.4);
    margin: 1em 0;
}

.installa img {
    width: 28px;
    height: 28px;
}

.persona {
    margin-bottom: 1em;
}
.installa:hover {
    cursor: pointer;
    color: white;
}

.persona img {
    display: block;
    width: 28px;
    height: 28px;
    background-color: gray;
    border-radius: 50%;
}

.persona h4 {
    color: white;
    font-weight: 800;
}

/* player */
 /* left player */
 .left-player {
    display: flex;
    align-items: center;
    width: 20%;
    gap: 1.5em;
 }

/* autore */
.info-autore img {
    height: 50px;
    width: 50px;
}

.info-autore {
    display: flex;
    align-items: center;
    gap: 1em;
}

.text-autore h5 {
    color: white;
}
.text-autore span {
    color: rgba(255, 255, 255, 0.4);
}

/* icone secondarie */
.icon-secondary i {
    color: rgba(255, 255, 255, 0.4);
    margin-left: 0.8em;
}


/* main zone */
.main-zone {
    width: 40%;
    text-align: center;
}

.action-iteams{
   color: white;
   font-size: 24px;
}

.action-iteams i {
    padding: 0 1em 1em;
}

.main-progres-bar {
    display: flex;
    align-items: center;
    gap: 0.8em;
    color: white;
}

.progress-bar {
    width: 100%;
    background-color: #404040;
    height: 5px;
    position: relative;
}

.progress-bar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: white;
}

/* impostazioni */
.setting {
    display: flex;
    align-items: center;
    width: 20%;
    gap: 1em;
    color: white;
}