/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, open-sans, Arial, Helvetica;
}

li {
    list-style: none;
    color: rgba(255, 255, 255, 0.4);
    font-size: 18px;
}
li:active {
    color: white;
}

/* regole generali macrostruttura */
#container-top {
    display: flex;
    height: calc(100vh - 100px); 
}

nav {
    background-color: #000;
    width: 180px;
}

main {
    background-color: #141922;
    width: calc(100vw - 180px);
}

#player {
    background-color: #282828;
    height: 100px;
    width: 100%;
}

/* nav */
#nav-top {
    height: calc(100vh - 180px);
}

#nav-top img {
    width: 120px;
    margin: 0.8em 0.8em 0;
}

#nav-top h2 {
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin: 1.2em 0 0.4em 0.8em;
}

.nav-item-active {
    color: rgba(255, 255, 255, 0.915);
}

/* first nav */
#first-navigation {
    margin: 1em 0;
}

.f-nav-item i {
    padding: 0.2em 0.4em 0.2em 0.8em;
    font-size: 18px;
    margin: 0.2em 0;
}

.f-nav-item-active {
    color: white;
}

.f-nav-item-active i {
    border-left: 4px solid green;
}


/* second nav */
.s-nav-item {
    margin: 0.4em 0 0.8em 0.8em;
}

.s-nav-item i {
    font-size: 50px;
}

.s-nav-item a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
    margin-left: 0.4em;
}

.flex-nav {
    display: flex;
    align-items: center;
}


/* nav-bottom */
#nav-bottom {
    background-color: black;
    width: 100%;
    height: 80px;
    color: white;
}

.person {
    margin: 0 0.8em;
    display: flex;
    align-items: center;
    gap: 0.4em;
}

.person img {
    width: 24px;
    height: 24px;
    background-color: gray;
    border-radius: 50%;
}

#nav-bottom span {
    margin: 0 0.8em;
    color: rgba(255, 255, 255, 0.4);
}

span i {
    padding: 0 0.4em;
}


#nav-bottom hr {
    margin: 1em 0.8em;
    border-color: rgba(255, 255, 255, 0.4);
}